* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Teko", sans-serif;
  letter-spacing: 1.5px;
}

.app {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020621;
}

.row {
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.row__column {
  width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.container {
  padding-top: 80px;
  height: 100%;
  animation: slideInR 1000ms 200ms backwards ease;
}

.organizer {
  max-width: 590px;
}

img {
  width: 100%;
  border-radius: inherit;
}

a {
  color: white;
  font-size: 24px;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  scale: 1.1;
}

.click:active {
  scale: 0.9;
}

.title {
  color: white;
  font-size: 120px;
}

.text {
  font-size: 30px;
  color: white;
  text-align: justify;
}

/* 

BURGER MENU

*/

.burger {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.bars__menu .burger{
  display: flex;
}

.burger__close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  font-size: 22px;
  background: transparent;
  border: none;
  color: white;
}

.burger__link{
  font-size: 40px;
}

.bars__menu {
  height: 100vh;
  width: 100%;
  background-color: #020621;
  z-index: 10;
}

.bars__menu .app {
  display: none;
}

.fa-circle-xmark {
  margin-left: 8px;
  color: white;
  font-size: 32px;
}

/* 

NAV BAR

*/

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 8vh;
  margin: 12px auto 0;
  padding: 0 24px;
  animation: slideIn 1000ms 200ms backwards ease;
  z-index: 5;
}

@keyframes slideIn {
  0% {
    transform: translateX(-4000px);
  }
  100% {
    transform: translateX(-50%);
  }
}

.barco__logo--wrapper {
  display: flex;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 10px;
  width: 240px;
}

.nav__bars {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.fa-bars {
  color: white;
  font-size: 40px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 45%;
}

.nav__list--item {
  position: relative;
}

.nav__link--primary {
  font-size: 28px;
  padding: 0 12px;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  color: #020621;
}

.nav__link-hover-effect {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  transition: all 300ms ease;
}

.nav__list--item:hover .nav__link-hover-effect {
  left: 0;
  width: 100%;
}

/* 

LANDING

*/

#landing {
  height: 100vh;
  position: relative;
}

.landing__container {
  display: flex;
  height: 80%;
  align-items: center;
}

@keyframes slideInR {
  0% {
    transform: translateX(4000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.landing__description--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing__text {
  color: white;
  font-size: 45px;
  font-weight: 400;
  text-align: justify;
  max-width: 85%;
}

.typing__wrapper {
  display: flex;
  color: white;
  gap: 10px;
}

.static__text {
  margin-top: 2px;
}

.dynamic__texts {
  font-size: 48px;
  font-weight: bold;
  color: red;
  line-height: 72px;
  height: 72px;
  overflow: hidden;
}

.dynamic__texts li {
  animation: slide 12s steps(4) 1s infinite;
  position: relative;
  top: 0;
}

@keyframes slide {
  100% {
    top: -288px;
  }
}

.typing__text {
  position: relative;
}

.typing__text::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 2px solid red;
  left: 0;
  animation: typing 3s steps(15) 1s infinite;
  background-color: #020621;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.landing__img--wrapper {
  display: flex;
  margin: 80px 28px;
  width: 500px;
  padding: 12px;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0 0 26px 0 white;
  animation: rot 2500ms infinite alternate-reverse;
}

@keyframes rot {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.scroll__icon {
  position: absolute;
  border: 3px solid white;
  border-radius: 20px;
  height: 44px;
  width: 24px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  z-index: 100;
}

.scroll__dot {
  width: 4px;
  height: 8px;
  background-color: white;
  border-radius: 8px;
  animation: scroll 2s infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* 

ACERCA

*/

#acerca {
  height: 70vh;
  position: relative;
}

.acerca__row {
  justify-content: space-between;
  padding-bottom: 120px;
}

.acerca__img--wrapper {
  display: flex;
  max-width: 450px;
  border: 5px solid white;
  margin-right: 28px;
  border-radius: 20px;
  box-shadow: 0 0 26px 0 white;
}

.acerca__organizer {
  max-width: 60%;
}

.acerca__title {
  font-size: 95px;
  text-align: center;
}

.acerca__text {
  margin: 0 0 0 42px;
  max-width: 85%;
  font-weight: 400;
}

/* 

CONTACTANOS

*/

#contactanos {
  height: 60vh;
  padding-top: 100px;
  margin-bottom: 100px;
}

.ubicacion__row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.map__wrapper {
  display: flex;
  max-width: 500px;
  aspect-ratio: 1.3/1;
  margin-left: 28px;
  border: 3px solid white;
  box-shadow: 0 0 26px 0 white;
  border-radius: 20px;
  overflow: hidden;
}

.insta__link {
  background: linear-gradient(to right, #4856f2, #d62976);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 300ms ease;
}

.insta__link:hover {
  font-size: 34px;
}

/* 

FOOTER

*/

footer {
  background-color: #7d8fff;
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
}

.footer__row {
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.footer__logo--wrapper {
  display: flex;
  width: 20%;
  border: 2px solid #020621;
  border-radius: 10px;

  position: relative;
}

.footer__pop-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #020621;
  font-size: 24px;
  font-weight: bold;
  transition: all 300ms ease;
}

.footer__logo--wrapper:hover .footer__pop-out {
  transform: translate(130px, -50%);
}

.footer__logo {
  scale: 1.01;
}

.logo__link {
  display: flex;
}

.footer__organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link--list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.footer__list--item {
  position: relative;
}

.footer__link-hover-effect {
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #020621;
  border-radius: 4px;
  transition: all 300ms ease;
}

.footer__list--item:hover .footer__link-hover-effect {
  left: 0;
  width: 100%;
}

.footer__link {
  color: #020621;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 2px;
}

/* 

MENU

*/

#menu {
  min-height: 82vh;
}

.filter--group {
  width: 100%;
  padding-left: 20px;
}

#filter {
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

option {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.menu__organizer {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item--wrapper {
  width: 20%;
  padding: 0 20px 32px;
}

.item__img--wrapper {
  display: flex;
  max-width: 100%;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 0 14px white;
}

.item__img {
  object-fit: cover;
  aspect-ratio: 1 / 1.3;
  transition: all 300ms ease;
}

.item__img--wrapper:hover .item__img {
  scale: 1.05;
  cursor: not-allowed;
}

.item__name {
  color: white;
}

.item__price {
  color: white;
}

/* 

SKELETON

*/

.skeleton {
  background-color: lightgrey;
  margin-bottom: 8px;
  box-shadow: 0 0 8px white;
}

.item__img-skeleton-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1.3;
  border-radius: 20px;
}

.item__name--skeleton {
  width: 90%;
  height: 20px;
  border-radius: 6px;
}

.item__price--skeleton {
  width: 40%;
  height: 20px;
  border-radius: 6px;
}

@media (max-width: 1170px) {
  .row{
    max-width: 1100px;
  }
  .organizer{
    max-width: 60%;
  }
  .title{
    font-size: 100px;
  }
  .acerca__title, .contactanos__title{
    font-size: 70px;
  }
  .map__wrapper{
    max-width: 40%;
  }
  .footer__link{
    font-size: 20px;
  }
}

/* 

TABLETS

*/


@media (max-width: 850px) {
  .landing__container {
    padding-top: 130px;
    height: fit-content;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    max-height: none;
  }
  .organizer {
    max-width: 500px;
  }
  .barco__logo--wrapper {
    width: 200px;
  }
  .nav__bars {
    display: block;
  }
  .nav__link--list {
    display: none;
  }
  .title {
    font-size: 100px;
    text-align: center;
  }
  .text {
    font-weight: 400;
  }
  .text,
  .landing__text,
  .dynamic__texts {
    font-size: 35px;
    text-align: center;
    max-width: none;
  }
  .typing__wrapper {
    justify-content: center;
  }
  .static__text {
    margin-top: 9px;
  }
  .landing__img--wrapper {
    margin: 50px 0;
    width: 350px;
  }
  .scroll__icon {
    display: none;
  }
  #acerca {
    height: 85vh;
  }
  .acerca__row {
    flex-direction: column-reverse;
  }
  .acerca__title {
    font-size: 67px;
  }
  .acerca__img--wrapper {
    width: 400px;
    margin: 50px 0 0 0;
  }
  .acerca__text {
    font-size: 30px;
    margin: 0;
  }

  #contactanos {
    height: 85vh;
    padding-top: 0;
    height: fit-content;
  }
  .contactanos__title {
    font-size: 67px;
  }
  .contactanos__text {
    font-size: 30px;
  }
  .map__wrapper {
    max-width: 55%;
    aspect-ratio: 1 / 1;
    margin: 50px 0 0 0 ;
  }
  .footer__logo--wrapper {
    width: 180px;
  }
  .footer__link {
    font-size: 20px;
  }
  .footer__logo--wrapper:hover .footer__pop-out {
    transform: translate(100px, -50%);
  }
  .filter--group {
    padding-left: 60px;
  }
  .menu__item--wrapper {
    width: 30%;
  }
}

/* 

PHONES

*/

@media (max-width: 425px) {
  .title{
    font-size: 70px;
  }
  .text, .static__text, .dynamic__texts{
    font-size: 28px;
  }

  .static__text{
    margin-top: 16px;
    margin-left: 10px;
  }

  .typing__text::after{
    top: 0;
  }

  #acerca, #contactanos{
    height: fit-content;
  }

  .acerca__title, .contactanos__title{
    font-size: 48px;
  }

  .acerca__text, .contactanos__text{
    font-size: 24px;
  }

  .acerca__img--wrapper{
    max-width: 90%;
  }

  .map__wrapper{
    max-width: 90%;
  }

  .footer__link--list{
    align-items: center;
  }

  .filter--group{
    padding-left: 28px;
  }

  .menu__item--wrapper{
    width: 50%;
  }
  .row{
    padding: 0 12px;
  }
  .landing__container{
    padding-top: 80px;
  }

  .landing__img--wrapper{
    margin: 32px 0 0;
    width: 80%;
  }

  .title{
    font-size: 50px;
  }

  .text{
    font-size: 24px;
  }

  .acerca__title, .contactanos__title{
    font-size: 35px;
  }

  .acerca__text, .contactanos__text{
    font-size: 20px;
  }

  footer{
    padding: 10px 0 ;
  }

  .footer__row{
    gap: 4px;
  }
  .footer__list--item{
    display: flex;
  }
  .footer__link{
    font-size: 14px;
    text-align: center;
  }
  .footer__logo--wrapper{
    width: 120px;
  }

  .footer__pop-out{
    display: none
  }
  .copyright{
    font-size: 10px;
  }
}

@media (min-width: 400px) and (min-height:900px){
  .landing__container{
    padding-top: 130px;
  }
  .landing__img--wrapper{
    margin-top: 72px;
    width: 90%;
  }

}
